
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    width: 100%;
    height: 100%;
    font-family: "Lexend", sans-serif;
  }

  /* SCHEDULE NOW SECTION  */
  #pricing-page6 {
    position: relative;
    top: -5vh;
  }

  #pricing-page6 p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
    font-size: 1.2rem;
    line-height: 1.4;
    left: -0.8vw;
  }
  #pricing-page6 button {
    position: relative;
    top: 14vh;
    border: none;
    left: 9vw;
    background-color: #04af09;
    width: 43%;
    height: 13%;
    border-radius: 130px;
    padding: 10px 10px;
  }

  #pricing-page6 button a {
    text-decoration: none;
    color: white;
  }

  #pricing-page6 button:hover {
    background-color: #20cb26;
    transition: 0.2s ease-in;
  }

  #pricing-page6 img {
    position: relative;
    /* top: -72vh; */
    left: 3vw;
  }
  #pricing-page6 {
    position: relative;
    /* top: 34vh; */
  }
#page1 {
    height: 15vh;
    width: 79%;
    margin: 0 auto;
    border: 2.5px solid black;
    border-radius: 30px;
    margin-top: 3%;
    position: relative;
  }
  
  #page1 nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page1 nav ul li {
    float: left;
    list-style: none;
  }
  #page1 nav ul li a {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 26px 23px;
  }


  #pricing-page2{
    background-color: #e0f7e6;
  border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
margin-top: 40px;
    width: 100%;
    height: 300px;


    }
    #pricing-page2 h1{
     font-size: 66px;
    font-weight: 700;
    display: flex
;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10vh;
  
    }

    #pricing-page2 p{
display: flex
;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8vh;
    text-align: center;
    }
     .pricing-footer {
      display: flex;
      position: relative;
      top: -27vh;
    }
    .social-icons {
      display: flex;
      gap: 20px;
      margin-top: 40px;
      margin-top: 17px;
      position: relative;
      left: -4vw;
    }

    .social-icons a {
      border-radius: 100px;
      width: 30px;
      color: black;
    }
    #instagram {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );

      border-radius: 40px;
      width: 40px;
      height: 40px;
      position: relative;
      top: -0.5vh;
    }
    #instagram i {
      color: white;
      position: relative;
    left: -0.2vw;
    top: 1.4vh;
   
    }
     .middle-section a{
    color: black;
    text-decoration: none;
  }
  .left-section {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    position: relative;
    left: 10vw;
  }

  .logo {
    font-size: 71px;
    font-weight: 600;
    color: #1a1a1a;
    letter-spacing: -0.5vh;
    position: relative;
    left: -4.5vw;
  }

  .tagline {
    font-size: 19px;
    color: #333;
    text-align: left;
    line-height: 1.4rem;
    left: -4vw;
    position: relative;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 4vw;
    top: -2vh;
  }

  .middle-section ul {
    list-style-type: disc;
    padding-left: 150px;
    font-size: 20px;
    font-weight: 650;
    color: #1a1a1a;
    position: relative;
    top: 9vh;
  }

  .stars {
    color: limegreen;
    font-size: 27px;
    position: relative;
    left: 9.9vw;
    margin-top: 26px;
    display: flex;
  }

  .right-section img {
    width: 289px;
    position: relative;
    left: 11vw;
  }

    #pricing-page3{
align-items: center;
    justify-content: center;
    display: grid
;
    align-content: center;
    justify-items: center;
    position: relative;
   top:15vh;
   text-align: center;
    }
     #pricing-page3 img{
      width: 160px;
      height: 170px;
    }
     #pricing-page3 h1{
      font-weight: 600;
      font-size: 60px;
    }
    
     #pricing-page3 button{
    position: relative;
    border: none;
    background-color: #04af09;
    width: 23%;
    border-radius: 130px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: 1vh;
   }
   #pricing-page3 button a{
color: white;
text-decoration: none;


   }
   #pricing-page3 button:hover {
  background-color: #20cb26;
  transition: 0.2s ease-in;
}

    #pricing-page4{
align-items: center;
    justify-content: center;
    display: grid
;
    align-content: center;
    justify-items: center;
    position: relative;
   top:1vh;
   text-align: center;
    }
     #pricing-page4 img{
      width: 160px;
      height: 170px;
    }
     #pricing-page4 h1{
      font-weight: 600;
      font-size: 60px;
    }
    
     #pricing-page4 button{
    position: relative;
    border: none;
    background-color: #04af09;
    width: 23%;
    border-radius: 130px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: 1vh;
   }
   #pricing-page4 button a{
color: white;
text-decoration: none;


   }
   #pricing-page4 button:hover {
  background-color: #20cb26;
  transition: 0.2s ease-in;
}


    #pricing-page5{
align-items: center;
    justify-content: center;
    display: grid
;
    align-content: center;
    justify-items: center;
    position: relative;
   top:-25vh;
   text-align: center;
    }
     #pricing-page5 img{
      width: 160px;
      height: 170px;
    }
     #pricing-page5 h1{
      font-weight: 600;
      font-size: 60px;
    }
    .price-range .start-today-btn{
      position: relative;
       
          border: none;
          
          background-color: #04af09;
          /* width: 43%;
          height: 13%; */
          border-radius: 130px;
          padding: 10px 20px;
        }
      
       .box .start-today-btn a{
          color: white;
          text-decoration: none;
          font-size: 20px;
      
        }
    
     #pricing-page5 button{
    position: relative;
    border: none;
    background-color: #04af09;
    width: 23%;
    border-radius: 130px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: 1vh;
   }
   #pricing-page5 button a{
color: white;
text-decoration: none;


   }
   #pricing-page5 button:hover {
  background-color: #20cb26;
  transition: 0.2s ease-in;
}


    #pricing-page6 p {
  display: flex
;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -61vh;
    font-size: 1.2rem;
    line-height: 1.4;
    left: -0.8vw;
}
#pricing-page6 button {
position: relative;
    top: -63vh;
    border: none;
    left: 9vw;
    background-color: #04af09;
    width: 43%;
    height: 13%;
    border-radius: 130px;
    padding: 10px 10px;
}

#pricing-page6 button a {
  text-decoration: none;
  color: white;
}

#pricing-page6 button:hover {
  background-color: #20cb26;
  transition: 0.2s ease-in;
}

#pricing-page6 img {
  position: relative;
  top: -72vh;
  left: 3vw;
}
#pricing-page6 {
  position: relative;
  top: 34vh;
}


.box{
 
  border: 5px solid;
  border-radius: 30px;
border-image: linear-gradient(to right, #1d752a, #c1d52f) ;
     border-image-slice:1;
width: 60%;
height: 60%;
background-color: white;
border-radius: 20px;
  background: white;
  padding: 17px;
  box-sizing: border-box;

}

.price-range{
      width: 90%;
    height: 750px;
    display: flex;
gap: 20px;
align-items: center;
justify-content: center;
    position: relative;
    top: -19vh;
}



.box h2, p, h3, ul>li {
  text-align: left;
  line-height: 1rem;
  padding-left: 10px;
}

.box h3{
  font-size: 20px;
position: relative;
top:0.2vh;
line-height: 0.6rem;
}
.box #benefits{
position: relative;
top: -2vh;
}

.box p, h3, li {
line-height: 0.9rem;
}
.box h2{
  font-size: 30px;
  font-weight: 600;
position: relative;
top:3vh;
}
.box p{
  font-size: 15px;
position: relative;
top:3vh;
}
.box li{
   font-size: 15px;
 position: relative;
 left: 3vw;
 line-height: 0.8rem;
padding-right: 50px;
  list-style-type: disc;
}


.box button{
   position: relative;
    border: none;
    background-color: #04af09;
    width: 55%;
    border-radius: 130px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: -1vh;
}
 .main-p{
  text-align: center;
}

#benefits-list{
  position: relative;
  top: -2vh;
}

